body {
    background-color: #777d96;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

p {
    text-align: center;
}

#rcorners1 {
    border-radius: 25px;
    background: antiquewhite;
    padding: 20px;
    width: 200px;
    height: 150px;
}

p1.inset {

    border-style: inset;
    width: 200px;
    height: 50px;
}

ul {
    background-color: #EBEBEB;


    font-family: Verdana, Helvetica, sans-serif;
    font-size: 17px;
    padding: 20px;

    width: 400px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 30px;
}
li {

    margin: 10px;
    margin-left: 25px;
}

#contact-me-header{
    border: 2px;
}

.field-label{
    float:left;
    margin-top: 15px;
}

.field-input{
    float: right;
    border-radius: 3px;
    padding: 7px;
    margin: 10px;
    width: 200px;
    border: 1px solid white;
}

.field-row{
    border-bottom: 1px solid black;
}

#form-content{
    width: 550px;
    display: inline-grid;
    border-radius: 3px;
    background-color: #ffffff40;;
    padding: 20px;
}

#contact-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#user_message{
    max-width: 200px;
    height:fit-content;
    resize: vertical;
}

#submit-form-div{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.form-error {
    color: red;
    display: none;
    width: 95%;
    font-size: smaller;
    display: none;
    text-align: right;
}

#email-error{
    width: 73%;
}

#req-fields-note{
    font-size: smaller
}

#submit-form-btn{
    width: 115px;
    font: initial;
}

.center{

    list-style-position: inside;
    margin: auto;
    padding-left: 200px;

}