*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}

.hero{
    width:100%;
    height:100vh;
    background-image: url("../images/AUBackground.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.logo{
    width: 150px;
    cursor:pointer;
}

.content{
    color:#fbfcfd;
    position:absolute;
    top:50%;
    left:8%;
    transform: translateY(-50%);
    z-index:2;
}

h1{
    font-size:80px;
    margin:10px 0 30px;
    line-height: 80px;
}

#splitPage{
    display: flex;
}

.split-child{
    flex: 1;
}
.btn-container{
    position: relative;
    height: 200px;
}

.buttons{
    margin: 0;
    position: relative;
}

.ng-btn, .help-btn, .contact-btn{
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 40px;
    padding: 20px;
    border: none;
}

.ng-btn:hover, .help-btn:hover, .contact-btn:hover{
    background-color: #aaaaaa;
    cursor: pointer;
}

.side-bar{
    width: 50px;
    height: 100vh;
    background: linear-gradient(#00545d,#000729);
    position: absolute;
    right: -1045px;
    top: -255px;
}

.side-bar img{
    width:50px;
    margin: 5px auto;
}

.social-links img{
    width:50px;
    margin:5px auto;
    cursor: pointer;
}

.social-links{
    width:50px;
    text-align: center;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}

.stars img{
    width:50px;
    animation: star 7s linear infinite;
}

.stars{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
}

@keyframes star {
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.stars img:nth-child(1){
    width: 30px;
    animation-delay: 2s;
}
.stars img:nth-child(2){
    width: 50px;
    animation-delay: 1s;
}
.stars img:nth-child(3){
    width: 70px;
    animation-delay: 3.5s;
}
.stars img:nth-child(4){
    width: 25px;
    animation-delay: 6s;
}
.stars img:nth-child(5){
    width: 35px;
    animation-delay: 1.5s;
}
.stars img:nth-child(6){
    width: 60px;
    animation-delay: 4s;
}
.stars img:nth-child(7){
    width: 35px;
    animation-delay: 5s;
}



* {
    box-sizing: border-box;

}

body {
    margin: 0;
    background: wheat;
}

#container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.clearfix {
    clear: both;
}

.hidden {
    display: none;
}

#user-info {
    border: 1px solid #CCC;
    clear: both;
    margin: 0 auto 20px;
    max-width: 400px;
    padding: 10px;
    text-align: left;
}

#photo-container {
    background-color: #EEE;
    border: 1px solid #CCC;
    float: left;
    height: 80px;
    margin-right: 10px;
    width: 80px;
}

#photo {
    height: 80px;
    margin: 0;
    width: 80px;
}

@media (max-width: 300px) {
    #photo-container,
    #photo {
        height: 40px;
        width: 40px;
    }
}
