html,
body {
  margin: 0;
  padding: 0;
}

#gameCanvas {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url();
  background: lightblue;
  z-index: 1;
}

/* https://arks.itch.io/dino-characters */
#playerAvatar {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  background-image: url("./images/charactor.gif");
  background-size: cover;
  /* background: red; */
  z-index: 2;
}

.platform {
  background: black;
  position: absolute;
  z-index: 2;
}

.hidden {
  display: none;
}

html,
body,
iframe {
  height: 100%;
}

iframe {
  display: block; /* iframes are inline by default */
  background: #000;
  border: none; /* Reset default border */
  height: 100vh; /* Viewport-relative units */
  width: 100vw;
}
