html,
body {
  margin: 0;
  padding: 0;
}

#gameCanvas {
  width: 100%;
  height: 100%;
  position: absolute;
  background: yellow;
  z-index: 1;
}

/* https://arks.itch.io/dino-characters */
#playerAvatar {
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url('/images/charactor.gif'); 
  background-size: cover;
  /* background: red; */
  z-index: 2;
}

.platform {
  background: black;
  position: absolute;
  z-index: 2;
}


.hidden {
  display: none;
}