h1{
    text-align: center;
}

h2{
    text-align: center;
}

p{
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
}


body {
    background-color:#888888;

    flex-flow:row wrap;
    justify-content:center;
    margin:0;
    height:100vh;

    padding:0 10rem;
}

.thought {
    display:flex;
    background-color:#fff;
    padding:20px;
    border-radius:30px;
    min-width:400px;
    max-width:220px;
    min-height:40px;
    margin:auto;
    position:relative;
    align-items:center;
    justify-content:center;
    text-align:center;
}

.thought:before,
.thought:after {
    content:"";
    background-color:#fff;
    border-radius:50%;
    display:block;
    position:absolute;
    z-index:-1;
}
.thought:before {
    width:47px;
    height:44px;
    top:80px;
    left:-28px;
    box-shadow:-50px 30px 0 -12px #fff;
}

.thought:after {
    bottom:-20px;
    right:26px;
    width:30px;
    height:30px;
    box-shadow:80px -34px 0 0 #fff,
    -208px -6px 0 -2px #fff,
    -24px 17px 0 -6px #fff,
    -5px 25px 0 -10px #fff;

}

img{
    position: relative;
    width: 150px;
    height: 150px;
}

video {
    margin-left: auto;
    margin-right: auto;
    display: block
}
